.daily-comments{
  margin: 10px 0;
}

.daily-comments span{
  display: block;
  margin: 10px 0;
  font-size: 20px;
}
.daily-comment{
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #e3e8ee;
}
.daily-comment-avatar{
  width: 50px;
  height: 50px;
  float: left;
}
.daily-comment-avatar img{
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.daily-comment-content{
  margin-left: 65px;
}
.daily-comment-name{

}
.daily-comment-time{
  color: #9ea7b4;
  font-size: 14px;
  margin-top: 5px;
}
.daily-comment-text{
  margin-top: 10px;
}
